asgiref                  3.2.10 
beautifulsoup4           4.9.1  
Django                   3.1    
django-livereload-server 0.3.2  
django-livesync          0.5    
djangorestframework      3.11.1 
djangorestql             1.0.1  
pathtools                0.1.2  
Pillow                   7.2.0  
pip                      19.2.3 
pytz                     2020.1 
setuptools               41.2.0 
six                      1.15.0 
soupsieve                2.0.1  
sqlparse                 0.3.1  
tornado                  6.0.4  
watchdog                 0.10.3 
websocket-client         0.57.0 
