{% extends 'app.html' %}
{% block title %}Home{% endblock %}

{% block body %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content"><div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Dashboard</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item active">Welcome to Dashboard</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4">
                <div class="card overflow-hidden">
                    <div class="bg-soft-primary">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-3">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="/static/images/profile-img.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="avatar-md profile-user-wid mb-4">
                                    <img src="/static/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
                                </div>
                                <h5 class="font-size-15 text-truncate"><b>{{ user.first_name }} {{ user.last_name }}</b></h5>
                                <p class="text-muted mb-0 text-truncate">{% if user.is_superuser %}Admin {% elif user.is_staff %}Staff {% else %} Normal User{%endif%}</p>
                            </div>

                            <div class="col-sm-8">
                                <div class="pt-4">

                                    <div class="row">
                                        <div class="col-6">
                                            <!-- <h5 class="font-size-15">125</h5>
                                            <p class="text-muted mb-0">Projects</p> -->
                                        </div>
                                        <div class="col-6">
                                            <!-- <h5 class="font-size-15">$1245</h5>
                                            <p class="text-muted mb-0">Revenue</p> -->
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <a href="{% url 'profile' user.username %}" class="btn btn-primary waves-effect waves-light btn-sm">View Profile <i class="mdi mdi-arrow-right ml-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <p class="text-muted font-weight-medium">Total Users</p>
                                        <h4 class="mb-0">{{ user_count }}</h4>
                                    </div>

                                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                        <span class="avatar-title">
                                            <i class="bx bx-copy-alt font-size-24"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <p class="text-muted font-weight-medium">Total Staffs</p>
                                        <h4 class="mb-0">{{ staff_count }}</h4>
                                    </div>

                                    <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                        <span class="avatar-title rounded-circle bg-primary">
                                            <i class="bx bx-archive-in font-size-24"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <p class="text-muted font-weight-medium">Total Normal Users</p>
                                        <h4 class="mb-0">{{ nuser_count }}</h4>
                                    </div>

                                    <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                        <span class="avatar-title rounded-circle bg-primary">
                                            <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" style="width: 70px;">#</th>
                                                <th scope="col">Browser</th>
                                                <th scope="col">IP Address</th>
                                                <th scope="col">Date Logged in</th>
                                                <th scope="col">Time Logged In</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for login in logins %}
                                            <tr>
                                                <td>
                                                    <div class="avatar-xs">
                                                        <span class="avatar-title rounded-circle">
                                                            {{ login.id }}
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h5 class="font-size-14 mb-1 text-truncate"><a href="#" class="text-dark">{{ login.browser|truncatechars:9 }}</a></h5>
                                                    <p class="text-muted mb-0">UI/UX Designer</p>
                                                </td>
                                                <td>{{ login.ip_address }}</td>
                                                <td>
                                                    <div>
                                                        <a class="badge badge-soft-primary font-size-11 m-1">{{ login.date_sent }}</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="badge badge-soft-primary font-size-11 m-1">{{ login.time_sent }}</a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->

{% include 'footer.html' %}
</div>
{% endblock %}

